--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: deployment_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deployment_events (
    id integer NOT NULL,
    deployment_id uuid NOT NULL,
    status text NOT NULL,
    "time" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.deployment_events OWNER TO postgres;

--
-- Name: deployment_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.deployment_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.deployment_events_id_seq OWNER TO postgres;

--
-- Name: deployment_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.deployment_events_id_seq OWNED BY public.deployment_events.id;


--
-- Name: deployments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deployments (
    id uuid NOT NULL,
    cloud text NOT NULL,
    environment text NOT NULL,
    application text NOT NULL,
    status text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.deployments OWNER TO postgres;

--
-- Name: deployment_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deployment_events ALTER COLUMN id SET DEFAULT nextval('public.deployment_events_id_seq'::regclass);


--
-- Data for Name: deployment_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: deployments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: deployment_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.deployment_events_id_seq', 26, true);


--
-- Name: deployment_events deployment_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deployment_events
    ADD CONSTRAINT deployment_events_pkey PRIMARY KEY (id);


--
-- Name: deployments deployments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_pkey PRIMARY KEY (id);


--
-- Name: idx_events_deployment_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_deployment_id ON public.deployment_events USING btree (deployment_id);


--
-- Name: deployment_events deployment_events_deployment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deployment_events
    ADD CONSTRAINT deployment_events_deployment_id_fkey FOREIGN KEY (deployment_id) REFERENCES public.deployments(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

