name: Platform Deployment Pipeline

on:
  repository_dispatch:
    types: [platform-deploy]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Debug full Github event
        run: |
          echo "FULL EVENT:"
          echo '${{ toJson(github.event) }}'

      - name: Print deployment context
        run: |
          echo "Cloud: ${{ github.event.client_payload.cloud }}"
          echo "Environment: ${{ github.event.client_payload.environment }}"
          echo "Application: ${{ github.event.client_payload.application }}"

      - name: Execution (mock)
        run: |
          echo "Executing deployment..."
          sleep 2

      - name: Notify backend IN_PROGRESS
        run: |
          curl -X PATCH "https://multi-cloud-governance-platform.onrender.com/deployments/${{ github.event.client_payload.deployment_id }}/status" \
            -H "Content-Type: application/json" \
            -H "x-pipeline-token: ${{ secrets.PIPELINE_TOKEN }}" \
            -d '{"status":"IN_PROGRESS"}'


      - name: Notify backend success
        run: |
          echo "Deployment ID: ${{ github.event.client_payload.deployment_id }}"

          curl -v -X PATCH \
            "https://multi-cloud-governance-platform.onrender.com/deployments/${{ github.event.client_payload.deployment_id }}/status" \
            -H "Content-Type: application/json" \
            -H "x-pipeline-token: ${{ secrets.PIPELINE_TOKEN }}" \
            -d '{"status":"SUCCESS"}'

